* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.circle {
  $circle-size: 100px;
  margin: 0 auto;
  background-color: cyan;
  width: $circle-size;
  height: $circle-size;
  border-radius: $circle-size;
  position: relative;
  
  .pointer {
    $pointer-size: 20px;
    position: absolute;
    background-color: red;
    width: $pointer-size;
    height: $pointer-size;
    top: 50%;
    left: 0%;
    border-radius: 100%;
    transform: translateX(-100%) translateY(-50%) rotate(var(--rotation));
    transform-origin: calc(100% + #{$circle-size / 2}) $pointer-size / 2;
  }
}

